body{
    margin: 0;
    
    
}
.navbar {
    height:70px;
    width: 100%;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
    
}
.nav-logo {
    height: 50px;
    margin-left: 10px;
    

}
.logo {
    background-image:url("amazon1.jpg");
    background-size: cover;
    height: 50px;
    width: 145px;
    
    
}
.border {
    border: 2px solid transparent;

}
.border:hover {
    border: 1.5px solid white;
}
/**box2**/
.add-first{
    height: 25px;
    color:#cccccc;
    font-size: 0.75rem;
    margin: 1px;

}
.add-sec{
    font-size: 1rem;
    margin: 1px;


}
.add-icon{
    display: flex;
    align-items:center;
}
/**box3**/
.nav-search{
    display: flex;
    width: 40rem;
    height: 3rem;
    border-radius: 20px;
}
.search-select{
    background-color: #f3f3f3;
    width: 40px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
.search-input{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    
}
.search-icon{
    background-color: #febd68;
    width: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: x-large;
    border-top-right-radius:22px ;
    border-bottom-right-radius:22px ;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/**box4**/
.nav-signin{
    height: 47px;
    display: flex;
    align-items: center;
}
/**box 6**/
.nav-cart{
    font-size: 25px;
    display: flex;
    height: 47px;
    align-items: center;

}
.nav-cartsec{
   
    font-size: 1rem;

}
/**panal**/
.panal{
    height: 55px;
    background-color: #222f3d;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
   
}
.panal-ops p{
    display: inline;
    margin-left: 5px;
}
.panal-ops{
    width: 70%;
    font-size: 1rem;
    justify-content: space-evenly;
    align-items: center;
}
.panal-deals{
    font-weight: 800rem;
    font-size: 1rem;
}


/**mainpage**/
.mainpage{
    background-image: url("backg1.jpg");
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
/**product**/
.product{
    display: flex;
    justify-content: space-evenly;
    background-color: #f2a6cf;
    flex-wrap: wrap;
    
    
}
.box{
    height: 20rem;
    width: 18rem;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
   
    
}
.box-cont{
    height:18rem;
    width: 15rem;
    
    

    
    

}
.box-img{
    height: 12.5rem;
    width: 16.70.8rem;
    background-size: cover;
    
    
}

.box-cont p{
    color: #007185;

}
h3{
    display: flex;
    flex-wrap: wrap;
    
    
}

/**footer**/
.footer{
    height: 35px;
    color: white;
    background-color: #808487;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.90rem;
}
.abc {
    color: #007185;
}
.atd {
    color:#cccccc;
}
.xyz{
    color: white;
}
.footer2{
    display: flex;
    background-color: #5d6368 ;
    height: 300px;
    justify-content: space-evenly;
}
ul p{
    font-size: 0.90rem;
    color: #dddddd;
}
.footer3{
    display: flex;
    justify-content: center;
    background-color: #000000;
    border-top: 0.5px solid white;
}
.footer3 img{
    height: 100px;
    width: 150px;
}
.fborder:hover{
    border: 2px solid bisque;
}

a{
    text-decoration: none;
}